/* 	CSS for home page 
	Author: Albertus Kelvin
*/

/* TOP NAVBAR BACKGROUND COLOR */
/* #2d455c */
#home_navbar {
	background-color: #354b60;
	height: 60px;
}

/* NAVBAR TEXT COLOR */

/* text: SaiTweet */
.navbar-brand {
	color: #ffffff;
	font-size: 36px;
	font-family: 'Oswald', sans-serif;
	padding-top: 20px;
	padding-bottom: 12px;
}

/* text: What is it? How to use? Contact */
.nav.navbar-nav .menuItem a {
	color: #ffffff;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	padding-top: 20px;
	padding-bottom: 12px;
}

/* REMOVE THE HOVER WHEN FOCUSING */ 

/* text: SaiTweet */ 
.navbar-brand:hover, .navbar-brand:focus {
    background-color: transparent;
	color: #ffffff;
}

/* text: What is it? How to use? Contact */
.nav.navbar-nav .menuItem a:hover, .nav.navbar-nav .menuItem a:focus { 
    background-color: transparent;
	color: #ffffff;
}

/* CONTAINER FOR SEARCHING QUERY (BODY) */
/* .content-query */
body {
	background-color: #f8f8f8;
}

/* INTRODUCTION TEXT */

/* text: What would you like to track in real-time? */
/* text: What is it? */
#intro, #whatisit, #contact {
	color: #000000;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	padding-top: 170px;
}

/* TOGGLE KEYWORD FORM */

/* toggle keyword DIV */
#toggle-keyword-form {
	padding: 35px 0;
}

/* toggle keyword text: #hashtag, @account, etc */
.toggle-keyword {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	padding-right: 45px;
}

.active {
	border-style: solid;
	border-width: 3px;
	border-radius: 12px;
	padding: 15px;
	width: 30px;
	background-color: #576063;
	color: #ffffff;
}

/* toggle keyword when there is a hovering action */
.toggle-keyword:hover {
	border-style: solid;
	border-width: 3px;
	border-radius: 12px;
	padding: 15px;
	width: 30px;
	background-color: #576063;
	color: #ffffff;
	-webkit-transition:all .4s ease;
	transition:all .4s ease;
	text-decoration: none;
}

/* SEARCH QUERY FORM */

/* search query text (DIV) */
#query-text {
	padding-top: 25px;
}

/* search query text input */

/*
#query {
	border: 3px solid;
	border-radius: 12px;
	width: 700px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 9px;
	padding-bottom: 9px;
}
*/

/* search query text input */
/*
input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
*/

/* search query text input */
/*
input[type=text]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 12px solid rgba(81, 203, 238, 1);
}
*/


input, button {
	outline: none;
}

.inputWithButton{
	display: inline-block;
    overflow: hidden;
	border-radius: 12px;
}

.inputWithButton > *{
    vertical-align:top;
    border:0;
    margin:0;
    padding: 13px 10px;
}

.inputWithButton > input[type=text]{
    width: 700px;
    border: 8px solid #444;
    border-right:none;
}

.inputWithButton > button{
    border-left:1px solid gray;
    background:#A30000;
    border:8px solid #A30000;
    color:#fff;
    cursor:pointer;
    width:100px;
}

.inputWithButton > button::-moz-focus-inner {
    border: 0;
}

#btn-search {
	font-family: 'Oswald', sans-serif;
}

/* Social media */
#social-media {
	margin-top: 50px;
}